ApiGateway/Login.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="General" />
				<xs:element name="Data">
					<xs:complexType>
						<xs:all>
							<xs:element name="Username" type="xs:string" />
							<xs:element name="Password" type="xs:string" />
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>